<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem" #f="ngForm" (ngSubmit)="onSubmit(f)">

        <!-- Email -->
        <mat-form-field>
            <input type="email" matInput placeholder="Your email" name="email" ngModel required #emailInput="ngModel">
            <!-- email greska -->
            <mat-error *ngIf="emailInput.hasError('required')">Field should not be empty</mat-error>
        </mat-form-field>

        <!-- Password  -->
        <mat-form-field>
            <input type="password" matInput placeholder="Your password" name="password" ngModel required
                #passInput="ngModel" minlength="8">

            <!-- pass hint -->
            <mat-hint align="end">{{ passInput.value?.length }} / 8</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="Your Address" name="address" ngModel required
                #address="ngModel" >
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Your date of birth" [matDatepicker]="picker" ngModel name="birthDate" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox color="primary" ngModel name="acceptance" required fxLayoutGap="1rem">
            I accept the terms of conditions of use.
        </mat-checkbox>

        <button type="submit" mat-raised-button color="warn" [disabled]="f.invalid">Submit</button>

        <!-- Errors -->
        <mat-label *ngIf="errorExists">{{ errorText }}</mat-label>
        <a routerLink="/login">Go back to login.</a>
    </form>
</section>